* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #8CA87C;
    color: #FFF9F3;
    transition: all 0.3s;
    font-family: "Artifika", serif;
}

/*BARRA DE NAVEGACION*/
.header {
    text-decoration: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    background: #6D8261;
    box-shadow: 0 6px 25px -20px black;
    z-index: 2;
}

/* contenido de la barra de navegación */
.header-content {
    margin: 0px 5%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#logo {
    font-size: 1.5rem;
}

#logo b {
    color: #c1ddb1;
}

.header-content a {
    text-decoration: none;
    color: inherit;
}

/* menu */
.menu {
    display: flex;
    align-items: center;
}

.menu ul {
    padding: 0;
    display: flex;
    list-style: none;
}

.menu li {
    margin: 0 0.4rem;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* enlaces del menú */
.menu a {
    color: #FFF9F3;
    text-decoration: none;
    font-size: 1.2rem;
    display: block;
    padding: 1.2rem;
}

.menu .brush,
.menu .mobile-nav {
    font-size: 1.5rem;
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0;
}

.menu a:hover,
.menu i:hover {
    background-color: rgba(151, 167, 119, 0.822);
    border-radius: 5px;
}

i {
    padding: 1.2rem;
}

/* mobile menu navigation bar*/
.menu .mobile-nav {
    display: none;
}

.menu .mobile-nav i {
    outline: none;
}

.menu ul.show-menu {
    display: block;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 780px) {
    .header-content {
        margin: 0 5%;
    }

    .header {
        background-color: #6D8261;
        width: 100%;
        padding: 0.625em;
    }


    /* menu for mobile devices */
    
    .menu ul li {
        margin: 0;
    }
    
    .menu .mobile-nav {
        display: block;
        align-items: left;
    }

    .menu ul {
        position: fixed;
        width: 100%;
        max-width: 18rem;
        background: #56664cc5;
        top: 4rem;
        right: 0;
        display: none;
        padding: 0 0;
        box-sizing: border-box;
        border-bottom-left-radius: 5px;
    }

    .menu ul li {
        text-align: center;
    }

    .menu ul li a {
        width: 100%;
    }

    .menu ul.show {
        display: block;
    }
}


/* Estilos específicos para el modo claro */

/*Body*/
.light {
    background-color: #f9dbbd;
    color: #718355;
}

/*Botones, contenido de trivia, nav, footer, btn up y social icons*/
.light button,
.light .header,
.light #subscribe-form button,
.light header,
.light footer, 
.light #button-up, 
.light .social-icons a {
    background-color: #718355;
    color: #f9dbbd;
}

/*Texto de nav y material symbols*/
.light a,
.light .material-symbols-outlined {
    color: #f9dbbd;
}

/*Texto de subscribe*/
.light #email::placeholder {
    color: #718355;
}

/*Hover*/
.light .gallery-button button:hover,
.light .menu a:hover,
.light .menu i:hover,
.light .actions button:hover,
.light #subscribe-form button:hover,
.light .gallery-button button:hover,
.light .btn:hover:not([disabled]){
    background-color: #b5c99a;
    color: #718355;
}

.light .material-symbols-outlined:hover {
    color: #718355;
}

.light .title-section-content {
    text-shadow: 5px -3px 1px #e1e6dec4;
}

.light #intro-text {
    background-color: #323b2d4f;
}