* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #8CA87C;
    color: #FFF9F3;
    transition: all 0.3s;
}

/* HOME */

.home-header {
    text-decoration: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: #6D8261;
    box-shadow: 0 6px 25px -20px black;
    z-index: 2;
}

.header-content {
    margin: 0px 50px;
    height: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

#logo {
    font-size: 30 px;
}

.menu ul {
    height: 100%;
    display: flex;
    list-style: none;    
}

.menu ul li {
    height: 100%;
    margin: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li a {
    color: #FFF9F3;
    text-decoration: none;
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    .header-content {
        margin: 0 10px;
    }
    .menu ul li {
        margin: 0 10px;
    }
}


/* TRIVIA */

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.question {
    padding: 0.5em;
}

.img {
    object-fit: cover;
    height: 200px;
    width: 100%;
}


.btn:hover {
    background-color: #FFF9F3;
    color: #8CA87C;
}


@media (width > 768px) {

    .header{
        background-color: #6D8261;
        width: 700px;
        padding: 10px;
    }    

    .btn {
        background-color: #6D8261;
        width: 700px;
        padding: 10px;
        margin: 5px;
    }
}


@media (width < 769px) {
    
    .header{
        background-color: #6D8261;
        width: 300px;
        padding: 10px;
    }
    
    .btn {
        background-color: #6D8261;
        width: 300px;
        padding: 10px;
        margin: 5px;
    }

}

