/* TRIVIA */
body {
    display: grid;
    align-items: center;
    justify-content: center;
}

.container {
    width: 20rem;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.4rem;
}

.header-trivia {
    background-color: #658870;
    width: 30em;
    margin-top: 1rem;
    padding: 0.625em;
    border-radius: 10px;
    box-shadow: 0 10px 50px black;
}

.question {
    padding: 0.5em;
}

.question-image {
    object-fit: cover;
    height: 15em;
    width: 100%;
    border-radius: 10px;
}

.answer-buttons {
    margin-bottom: 1rem;
}

.btn {
    background-color: #658870;
    color: #FFF9F3;
    width: 30em;
    padding: 0.625em;
    margin: 0.313em;
    border: none;
    display: block;
    font-size: 1.4rem;
    font-family: "Artifika", serif;
    border-radius: 10px;
    border: 2px solid #658870;
    box-shadow: 0 10px 50px black;
}

.btn:hover:not([disabled]) {
    background-color: #edffef;
    color: #658870;
}

.btn:disabled {
    cursor: no-drop;
}

.correct {
    border: 3px solid rgb(125, 248, 180);
}

.incorrect {
    border: 3px solid rgb(248, 96, 96);
}

@media only screen and (max-width: 780px) {
    .container {
        font-size: 1rem;
    }

    .header-trivia {
        width: 20rem;
        padding: 0.625em;
    }

    .btn {
        width: 20rem;
        padding: 0.625em;
        margin: 0.313em;
        font-size: 1rem;
    }

}